<div class="dist-container">
  <div class="dist-data" *ngFor="let district of stateData.districts">
    <h6>{{district.name}}</h6>
    Population: {{district.population}}
    <br>
    Election Data:
      <br>
      Year: {{district.presidentialElection.year}}
      <br>
      Voting Totals:
        <br>
        Democratic: {{district.presidentialElection.partyTotals.DEMOCRATIC}}
          <br>
        Republican: {{district.presidentialElection.partyTotals.REPUBLICAN}}
          <br>
        Other: {{district.presidentialElection.partyTotals.OTHER}}
    <br>
      Precincts: {{district.numPrecincts}}
    <br>
      Goodness: {{district.goodness}}
    <br>
      Efficiency Gap: {{district.efficiencyGap}}
    <cdg-button [disabled]="compareDisable" (click)="openCompare()" name="Compare"></cdg-button>
  </div>
</div>
