<div *ngIf="stateData != null">
<nb-card class="dist-container" *ngFor="let district of stateData.districts">
    <h3 class="base">{{district.name}}</h3>
    <a *ngIf="district.population" class="base">- Population: {{district.population}}</a>
    <a *ngIf="district.population" class="base">Election Data:</a>
    <a *ngIf="district.presidentialElection.year" class="election">- Year: {{district.presidentialElection.year}}</a>
    <a *ngIf="district.presidentialElection" class="election">Voting Totals:</a>
    <a *ngIf="district.presidentialElection.partyTotals.DEMOCRATIC" class="voting">- Democratic: {{district.presidentialElection.partyTotals.DEMOCRATIC}}</a>
    <a *ngIf="district.presidentialElection.partyTotals.REPUBLICAN" class="voting">- Republican: {{district.presidentialElection.partyTotals.REPUBLICAN}}</a>
    <a *ngIf="district.presidentialElection.partyTotals.OTHER" class="voting">- Other: {{district.presidentialElection.partyTotals.OTHER}}</a>
    <a *ngIf="district.presidentialElection.totalVotes" class="voting">- Total Votes: {{district.presidentialElection.totalVotes}}</a>
    <a *ngIf="district.presidentialElection.votingAgePopulation" class="voting">- Voting Age Population: {{district.presidentialElection.votingAgePopulation}}</a>
    <a class="voting" *ngIf="district.representative != null">- Representative: {{district.representative}}</a>
    <a class="voting" *ngIf="district.goodness != null">- Goodness: {{district.goodness | number:'3.1-2'}}</a>
    <a class="voting" *ngIf="district.wastedVoteRatio != null">- Efficiency Gap: {{district.wastedVoteRatio | number:'3.1-2'}}</a>
    <cdg-button class="compare-button" [disabled]="compareDisable" (click)="openCompare(district)" name="Compare"></cdg-button>
</nb-card>
</div>