@import '../@theme/styles/themes';


    #state-button{
        width:200px;
    }

   #dropperino{
       width:100%;
       display:flex;
       justify-content: space-between;
       text-align: center;
       vertical-align: middle;
       line-height: 50px;
    }

    nb-card {
        height:98%;
    }
