<div class="dist-container">
  <nb-card class="dist-data">
    <h6>{{originalDataLabel}}</h6>
    {{originalData.name}}
    Population: {{originalData.population}}
    <br>
    Election Data:
      <br>
      Year: {{originalData.presidentialElection.year}}
      <br>
      Voting Totals:
        <br>
        Democratic: {{originalData.presidentialElection.partyTotals.DEMOCRATIC}}
          <br>
        Republican: {{originalData.presidentialElection.partyTotals.REPUBLICAN}}
          <br>
        Other: {{originalData.presidentialElection.partyTotals.OTHER}}
    <br>
      Precincts: {{originalData.numPrecincts}}
  </nb-card>
  <nb-card class="dist-data" *ngIf="compareData != null" >
    <h6>{{compareDataLabel}}</h6>
    {{compareData.name}}
    Population: {{compareData.population}}
    <br>
    Election Data:
      <br>
      Year: {{compareData.presidentialElection.year}}
      <br>
      Voting Totals:
        <br>
        Democratic: {{compareData.presidentialElection.partyTotals.DEMOCRATIC}}
          <br>
        Republican: {{compareData.presidentialElection.partyTotals.REPUBLICAN}}
          <br>
        Other: {{compareData.presidentialElection.partyTotals.OTHER}}
    <br>
      Precincts: {{compareData.numPrecincts}}
  </nb-card>
<div *ngIf="compareData == null">
  <br><br><br>
  No data to compare to ...
</div>
</div>