<div class="dist-container">
  <nb-card class="dist-data" *ngFor="let district of stateData.districts">
    <h6>{{district.name}}</h6>
    Population: {{district.population}}
    <br>
    Election Data:
      <br>
      Year: {{district.presidentialElection.year}}
      <br>
      Voting Totals:
        <br>
        Democratic: {{district.presidentialElection.partyTotals.DEMOCRATIC}}
          <br>
        Republican: {{district.presidentialElection.partyTotals.REPUBLICAN}}
          <br>
        Other: {{district.presidentialElection.partyTotals.OTHER}}
    <br>
      Precincts: {{district.numPrecincts}}
  </nb-card>
    <nb-card class="dist-data" *ngFor="let district of compareData.districts">
    <h6>{{district.name}}</h6>
    Population: {{district.population}}
    <br>
    Election Data:
      <br>
      Year: {{district.presidentialElection.year}}
      <br>
      Voting Totals:
        <br>
        Democratic: {{district.presidentialElection.partyTotals.DEMOCRATIC}}
          <br>
        Republican: {{district.presidentialElection.partyTotals.REPUBLICAN}}
          <br>
        Other: {{district.presidentialElection.partyTotals.OTHER}}
    <br>
      Precincts: {{district.numPrecincts}}
  </nb-card>
</div>