@import '../../@theme/styles/themes';

@include nb-install-component() {

  nb-card {
    padding: 0;
    height:98%;
  }
  nb-card-body {
    padding: 0;
    height:100%;
  }
  /deep/   mgl-map {
      height: 100%;
      width: 100%;
  }
}

  mgl-map {
    height: 100%;
    width: 100%;
}

.map-dropdown{
  width:200px;
  display: inline-block;
}

.map-button{
  width:100px;
  display: inline-block;
  right:px;
}