<nb-card>
  <nb-card-header>
    <div *ngIf="!flipped"  style="position:relative" id="header-container">
      <div *ngIf="mapTypeList" class="map-dropdown">
        {{mapTypeListLabel}}:<br>
        <cdg-dropdown (change)="onMapTypeChange($event)" [values]="mapTypeList" name="MapType" [disabled]="disableMapTypeList"></cdg-dropdown>
      </div>
      <div class="map-dropdown">
        {{savedMapListLabel}}:<br>
        <cdg-dropdown  [values]="savedMapList" name="No Saved Maps" [disabled]="disableSavedMapList"></cdg-dropdown>
      </div>
      <div class="map-button">
        <cdg-button [disabled]="disableResetButton" [img]="restartImage" (click)="resetMap()"></cdg-button>
      </div>
    </div>
    <div *ngIf="flipped"  style="position:relative" id="header-container">
      <h2> Generated Map </h2>
    </div>
  </nb-card-header>
  <nb-card-body>
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v10'"
    [zoom]="[3]"
    [center]="[-87.6500523,41.850033]"
    (load)="map = $event">
   <mgl-geojson-source
     id="states"
     [(data)]="mapObject"
   ></mgl-geojson-source>
   <mgl-layer
      id="state-fills"
      type="fill"
      source="states"
      (mouseMove)="onPrecinctHover($event)"
      (mouseLeave)="onPrecinctExit()"
      (click)="onMapClick($event)"
      [paint]="stylePattern">
      <mgl-popup *ngIf="currPrecinct" [(lngLat)]="popupCords" >
      <a *ngIf="currPrecinct.stateID"> ID: {{currPrecinct.stateID}}<br> </a>
      <a *ngIf="currPrecinct.districtID"> Congressional District: {{currPrecinct.districtID}}<br></a>
      <a *ngIf="currPrecinct.precinctID"> ID: {{currPrecinct.precinctID}} <br></a>
      <a *ngIf="currPrecinct.stateName"> Name: {{currPrecinct.stateName}}<br> </a>
      <a *ngIf="currPrecinct.precinctName"> Name: {{currPrecinct.precinctName}}<br> </a>
      <a *ngIf="currPrecinct.county"> County: {{currPrecinct.county}} <br></a>
      <a *ngIf="currPrecinct.population"> Population: {{currPrecinct.population}}<br></a>
      <a *ngIf="currPrecinct.votingAgePop"> Voting Age Population: {{currPrecinct.votingAgePop}}<br></a>
      <a *ngIf="currPrecinct.electionYear"> Election Year: {{currPrecinct.electionYear}}<br> </a>
      <a *ngIf="currPrecinct.prsTOTAL"> Total Presidential Votes: {{currPrecinct.prsTOTAL}} <br></a>
      <a *ngIf="currPrecinct.prsDFL"> Democratic Presidential Votes: {{currPrecinct.prsDFL}} <br></a>
      <a *ngIf="currPrecinct.prsR"> Republican Presidential Votes: {{currPrecinct.prsR}} <br></a>
      <a *ngIf="currPrecinct.prsOTH"> Other Presidential Votes: {{currPrecinct.prsOTH}}<br> </a>
      <a *ngIf="currPrecinct.wastedVoteRatio"> Wasted Vote Ratio: {{currPrecinct.wastedVoteRatio}}<br> </a>
      <a *ngIf="currPrecinct.schwarzbergCompactness"> Schwarzberg Compactness: {{currPrecinct.schwarzbergCompactness}}<br> </a>
      <a *ngIf="currPrecinct.hullRatioCompactness"> Hull Ratio Compactness: {{currPrecinct.hullRatioCompactness}}<br> </a>
      <a *ngIf="currPrecinct.reockCompactness"> Reock Compactness: {{currPrecinct.reockCompactness}}<br> </a>
      <a *ngIf="currPrecinct.goodness"> Goodness: {{currPrecinct.goodness}}<br> </a>
    </mgl-popup>
    </mgl-layer>
        <mgl-control
      mglGeocoder
    ></mgl-control>
    <mgl-layer 
      id="region-locks" 
      type="line"
      source="states" 
      [paint]="lockedStylePattern">
   </mgl-layer>

  </mgl-map>

  </nb-card-body>
</nb-card>