<nb-card>
  <nb-card-header>
    <div style="position:relative" id="header-container">
      <div style="width:200px; display:inline-block;">
        {{mapTypeListLabel}}:<br>
        <cdg-dropdown [values]="mapTypeList" name="MapType"></cdg-dropdown>
      </div>
      <div style="width:200px; display:inline-block;">
        {{savedMapListLabel}}:<br>
        <cdg-dropdown  [values]="savedMapList" name="No Saved Maps" [disabled]="disabled"></cdg-dropdown>
      </div>
      <div style="padding-top:0.7rem;position:absolute;right:10px;display:inline-block;">
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v10'"
    [zoom]="[3]"
    [center]="[-87.6500523,41.850033]"
    (load)="map = $event">
   <mgl-geojson-source
     id="states"
     [(data)]="mapObject"
   ></mgl-geojson-source>
   <mgl-layer
      id="state-fills"
      type="fill"
      source="states"
      (mouseMove)="onPrecinctHover($event)"
      (mouseLeave)="onPrecinctExit()"
      [paint]="stylePattern">
      <mgl-popup *ngIf="currPrecinct" [(lngLat)]="popupCords" >
      Precinct: {{currPrecinct.Precinct}}
      <br>
      PrecinctID: {{currPrecinct.PrecinctID}}
      <br>
      County: {{currPrecinct.County}}
      <br>
      CountyID: {{currPrecinct.CountyID}}
      <br>
      CongressionalDistrict: {{currPrecinct.districtID}}
      <br>
      MNSenDist: {{currPrecinct.MNSenDist}}
      <br>
      MNLegDist: {{currPrecinct.MNSenDist}}
      <br>
      CtyComDist: {{currPrecinct.CtyComDist}}
    </mgl-popup>
    </mgl-layer>
  </mgl-map>
  </nb-card-body>
</nb-card>