<nb-card>
  <nb-card-header>
    <div style="position:relative" id="header-container">
      <div *ngIf="mapTypeList" class="map-dropdown">
        {{mapTypeListLabel}}:<br>
        <cdg-dropdown (change)="onMapTypeChange($event)" [values]="mapTypeList" name="MapType" [disabled]="disableMapTypeList"></cdg-dropdown>
      </div>
      <div class="map-dropdown">
        {{savedMapListLabel}}:<br>
        <cdg-dropdown  [values]="savedMapList" name="No Saved Maps" [disabled]="disableSavedMapList"></cdg-dropdown>
      </div>
      <div class="map-button">
        <cdg-button [disabled]="disableResetButton" [img]="restartImage" (click)="resetMap()"></cdg-button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
  <mgl-map
    [style]="'mapbox://styles/mapbox/streets-v10'"
    [zoom]="[3]"
    [center]="[-87.6500523,41.850033]"
    (load)="map = $event">
   <mgl-geojson-source
     id="states"
     [(data)]="mapObject"
   ></mgl-geojson-source>
   <mgl-layer 
      id="state-lines" 
      type="line"
      source="states" 
      [paint]="{'line-color':'black'}">
   </mgl-layer>
   <mgl-layer
      id="state-fills"
      type="fill"
      source="states"
      (mouseMove)="onPrecinctHover($event)"
      (mouseLeave)="onPrecinctExit()"
      (click)="onMapClick($event)"
      [paint]="stylePattern">
      <mgl-popup *ngIf="currPrecinct" [(lngLat)]="popupCords" >
      <a *ngIf="currPrecinct.districtID"> Congresisonal District: {{currPrecinct.districtID}}<br></a>
      <a *ngIf="currPrecinct.county"> County: {{currPrecinct.county}} <br></a>
      <a *ngIf="currPrecinct.precinctName"> Precinct: {{currPrecinct.precinctName}}<br> </a>
      <a *ngIf="currPrecinct.precinctID"> PrecinctID: {{currPrecinct.precinctID}} <br></a>
      <a *ngIf="currPrecinct.population"> Population: {{currPrecinct.population}}<br></a>
      <a *ngIf="currPrecinct.electionYear"> Election Year: {{currPrecinct.electionYear}}<br> </a>
      <a *ngIf="currPrecinct.prsTOTAL"> Total Presidental Votes: {{currPrecinct.prsTOTAL}} <br></a>
      <a *ngIf="currPrecinct.prsDFL"> Democratic Presidental Votes: {{currPrecinct.prsDFL}} <br></a>
      <a *ngIf="currPrecinct.prsR"> Republican Presidental Votes: {{currPrecinct.prsTOTAL}} <br></a>
      <a *ngIf="currPrecinct.prsOTH"> Other Presidental Votes: {{currPrecinct.prsOTH}}<br> </a>
    </mgl-popup>
    </mgl-layer>
        <mgl-control
      mglGeocoder
    ></mgl-control>
  </mgl-map>

  </nb-card-body>
</nb-card>