#login-body{
    width:100%;
    height:100%;
    background-color:lightgrey;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  height: 50%;
  width: 600px;
  padding: 40px;
}

#logo-container{
  position: absolute;
  margin-top:20%;
  width:400px;
  height:80px;
}

#login-container{
  margin:auto;
  height:180px;
  width:600px;
  padding: 25px;
  background-color:white;
}

 #login-button{
    background-color:navy;
    color:white;
}