 <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" 
    [ngClass]="{'navbar-shrink':isScrolled}" 
    id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Congressional District Generator</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" routerLink="/login">Sign-in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
       <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 id="headind"class="brand-heading">CDG</h1>
              <p id="heading-intro" class="intro-text">A Unbiased Congressional District Generating Application</p>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section style="background:#050649;" id="about">
      <div class="info-block">
        <h1>What is CDG</h1>
        <p><b>A Gerrymander is a voting district that is designed to serve some political purpose. Within the past 10 years, databases for voter characterization as well as tools for precise map drawing have made it possible to create congressional districts that favor the party responsible for the creation of the districts. Redistricting is done in states where census data requires a change in the number of delegates in the state, and the 2010 census triggered redistricting in a number of states. Many of these redistricting efforts resulted in a shift in the political representation in the states. 
        <br><br>
        Our program will take in user input and will perform the 'redistricting formula' to measure the goodness of districts and re-format them.
        </b></p>
      </div>
    </section>

    <section style="background:white;" id="contact">  
      <div class="container" class="info-block">
            <div class="row">
                <div class="col-lg-3 text-center">
                    <div class="member-box">
                        <i class="fa fa-4x fa-code"></i>
                        <h3>Lead Programmer</h3>
                        <p>Kimberly Allan</p>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="member-box">
                        <i class="fa fa-4x fa-users"></i>
                        <h3>Project Manager</h3>
                        <p>Micah Baja</p>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="member-box">
                        <i class="fa fa-4x fa-database"></i>
                        <h3>Data Designer</h3>
                        <p>Yangeng Chen</p>
                    </div>
                </div>
                <div class="col-lg-3 text-center">
                    <div class="member-box">
                        <i class="fa fa-4x fa-pencil-square-o"></i>
                        <h3>Lead Designer</h3>
                        <p>Bryan Robicheau</p>
                    </div>
                </div>
            </div>
            <div class="member-box"> 
                <div class="col-lg-12 text-center">
                    <i class="fa fa-4x fa-envelope-open"></i>
                    <h2>Contact Us</h2>
                    <p>CDG_bears@gmail.com</p>
                </div>
            </div>
        </div>
    </section>