    <nb-layout>
      <nb-layout-header  fixed >
        <div style="padding-top:1.5rem;padding-left:1rem;text-align:middle; width:100%;">
          <h1>CDG
            <h6>Congressional District Generator</h6>
          </h1>
        </div>
        <div id="user-container" style="padding-right:5rem; margin-top:30px;">
            <cdg-button (click)="logout()" name="Logout"></cdg-button>
        </div>
      </nb-layout-header>
      <nb-sidebar id="sidebar" >
        <nb-flip-card [flipped]="flipped" style="height:100%;">
        <nb-card-front style="height:100%">
        <nb-card style="height:83vh">
          <nb-card-body style="height:100%">
          <div *ngIf="startingGeneration" style="max-height:500px" class="scrollable" id="spinner-container">
            <h1> Starting Generation ... </h1>
            <mat-spinner mode="spinnerMode"></mat-spinner>
          </div>
         <nb-tabset *ngIf="!startingGeneration"  class="full-width">
          <nb-tab tabTitle="Generate">
            <div id="generate-tool-container">
              <br>
              <div id="pick-state-button">
                {{stateListLabel}}:
                <cdg-dropdown [values]="stateList" (change)="changeState($event)" name="States"></cdg-dropdown>
              </div>
              <br>
              <div *ngIf="!flipped" id="slider-container">
                <cdg-slider  [disabled]="!genConfig || compare" (change)="updateContiguity($event)" name="{{contiguitySliderLabel}}" [slider]="!genConfig ? 0 : genConfig.getContiguityWeight()"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig || compare" (change)="updateEqualPopulation($event)" name="{{equalPopulationSliderLabel}}" [slider]="!genConfig ? 0 : genConfig.getEqualPopWeight()"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig || compare" (change)="updatePartisanFairness($event)" name="{{partisanFairnessSliderLabel}}" [slider]="!genConfig ? 0 : genConfig.getPartisanFairnessWeight()"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig || compare" (change)="updateSchwartz($event)" name="Schwartzberg Weight" [slider]="!genConfig ? 0 : genConfig.getSchwartz()"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig || compare" (change)="updateHull($event)" name="Hull Ratio Weight" [slider]="!genConfig ? 0 : genConfig.getHull()"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig || compare" (change)="updateReock($event)" name="Reock Weight" [slider]="!genConfig ? 0 : genConfig.getReock()"></cdg-slider>

              </div>
              <div id="generate-button">
                <cdg-button [disabled]="!genConfig || compare || algoRunning" (click)="startGeneration()" name="{{generateDistrictsButtonLabel}}"></cdg-button>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="{{informationTabLabel}}">
            <div style="height:100%; width:100%;" id="information-container" class="container">
              Compare Toggle:
              <mat-slide-toggle *ngIf="!algoRunning" (change)="compareToggle($event)"></mat-slide-toggle>
              <br>
              <div *ngIf="compare" id="pick-state-button">
                Compare Map:
                <cdg-dropdown [values]="stateList" (change)="changeCompareState($event)" name="States"></cdg-dropdown>
              </div>
            <div *ngIf="stateData">
              <br>
              <br>
              <cdg-data-display [compareDisable]="!compare" [compareData]="compareData" [stateData]="stateData"></cdg-data-display>
              </div>
            </div>
           </nb-tab>
          <nb-tab style="height:100%" tabTitle="{{fileTabLabel}}">
            <div id="information-container" class="container">
            <div id="file-buttons">
              <cdg-button name="Load File" class="file-button"></cdg-button>
              <cdg-button (click)="saveMap()" name="Save Map" class="file-button"></cdg-button>
              <cdg-button (click)="exportMap()"name="Export Map" class="file-button"></cdg-button>
            </div>
            </div>
          </nb-tab>
          </nb-tabset> 
        </nb-card-body>
        </nb-card>
        </nb-card-front>
          <nb-card-back class="inner-card">
            <nb-card class="inner-card">
              <nb-card-body  class="inner-card">
              <nb-tabset style="width:100%;" class="full-width">   
                <nb-tab tabTitle="Generation" style="width:100%">
                  <div class="container" id="generation-started-controls"> 
                    <div class="generating-button" style="display:flex;">
                      <cdg-button [disabled]="!algoRunning || !algoPaused" [img]="pauseImage"></cdg-button>
                      <cdg-button style="margin-left:20%" [disabled]="!algoRunning" (click)="stopGenerationClicked()" [img]="stopImage"></cdg-button>
                    </div>
                    <div class="generating-button">
                      <cdg-button [disabled]="algoRunning"  name="Save Generated District"></cdg-button>
                    </div>
                    <br>
                    <div class="generating-button">
                      <cdg-button [disabled]="algoRunning" (click)="exitGeneration()" name="Done"></cdg-button>
                    </div>
                  </div>
                </nb-tab>
                <nb-tab tabTitle="Progress">
                  <div id="step-container" style="max-height:0px; width:100%">
                    <cdg-step *ngFor="let step of steps" [step]="step"></cdg-step>
                  </div>
                </nb-tab>
                <nb-tab tabTitle="Compare">

                  <!-- USE GENERATED OBJECTS AND GENERATEDCOMPARE OBJECTS -->

                  Compare Toggle:
                  <mat-slide-toggle (change)="compareGeneratedToggle($event)"></mat-slide-toggle>
                  <div *ngIf="generatedCompare" id="pick-state-button">
                    Compare Map:
                    <cdg-dropdown [values]="stateList" (change)="changedGeneratedCompareState($event)" name="States"></cdg-dropdown>
                  </div>
                  <div id="compare-container" style="max-height:0px; width:100%">
                    <cdg-data-display *ngIf="generatedCompareConDistData != null && generatedConDistData != null" [compareDisable]="!generatedCompare" [compareData]="generatedCompareConDistData" [stateData]="generatedConDistData"></cdg-data-display>
                  </div>
                </nb-tab>


              </nb-tabset>
              </nb-card-body></nb-card>
          </nb-card-back>
          </nb-flip-card>
        </nb-sidebar>

      <nb-layout-column *ngIf="!flipped">
        <map #map
          (clicked)="precinctSelected($event)" 
          (mapTypeChanged)="mapTypeChanged($event)"
          (savedMapChanged)="savedMapChanged"
          (updateGenConfig)="updateGenConfig($event)"
          (mapReset)="mapReset()"
          [genConfig]="genConfig"
          [mapObject]="mapObject"
          [mapTypeList]="mapTypeList" 
          [savedMapList]="savedMapList"
          [savedMapListLabel]="savedMapListLabel"
          [mapTypeListLabel]="mapTypeListLabel"
          [disableMapTypeList]="!genConfig"
          [disableResetButton]="!genConfig"
          [flipped]="flipped"
          > 
          </map>
      </nb-layout-column>
          <nb-layout-column *ngIf="compare && !flipped">
        <map 
          (mapTypeChanged)="compareMapTypeChanged($event)"
          (savedMapChanged)="compareSavedMapChanged"
          [mapObject]="compareMapObject"
          [genConfig]="genConfig"
          [mapTypeList]="mapTypeList" 
          [savedMapList]="savedMapList"
          [savedMapListLabel]="savedMapListLabel"
          [mapTypeListLabel]="mapTypeListLabel"
          [disableResetButton]="true" 
          [disableMapTypeList]="compareSelectedStateId == 0"
          >         
          </map>

      </nb-layout-column>

      <nb-layout-column *ngIf="flipped">
        <map 
        #generatedMap
          (mapTypeChanged)="mapTypeChanged($event)"
          (savedMapChanged)="savedMapChanged"
          (updateGenConfig)="updateGenConfig($event)"
          (mapReset)="mapReset()"
          [genConfig]="genConfig"
          [mapObject]="generateMapObject"
          [mapTypeList]="mapTypeList" 
          [savedMapList]="savedMapList"
          [savedMapListLabel]="savedMapListLabel"
          [mapTypeListLabel]="mapTypeListLabel"
          [disableMapTypeList]="true"
          [disableResetButton]="true"
          [flipped]="flipped"
          > 
          </map>
      </nb-layout-column>
      <nb-layout-column *ngIf="generatedCompare && flipped">
        <map 
          (mapTypeChanged)="generatedCompareMapTypeChanged($event)"
          (savedMapChanged)="generatedCompareSavedMapChanged"
          [mapObject]="generatedCompareMapObject"
          [genConfig]="genConfig"
          [mapTypeList]="mapTypeList" 
          [savedMapList]="savedMapList"
          [savedMapListLabel]="savedMapListLabel"
          [mapTypeListLabel]="mapTypeListLabel"
          [disableResetButton]="true" 
          [disableMapTypeList]="generatedCompareSelectedStateId == 0"
          >         
          </map>
      </nb-layout-column>
    </nb-layout>