    <nb-layout>
      <nb-layout-header  fixed >
        <div style="padding-top:1.5rem;padding-left:1rem;text-align:middle; width:100%;">
          <h1>CDG
            <h6>Congressional District Generator</h6>
          </h1>
        </div>
        <div id="user-container" style="padding-right:5rem; margin-top:30px;">
            <cdg-button (click)="logout()" name="Logout"></cdg-button>
        </div>
      </nb-layout-header>
      <nb-sidebar id="sidebar">
        <nb-card>
          <nb-tabset class="full-width">
          <nb-tab tabTitle="Generate">
            <div id="generate-tool-container">
              <div id="pick-state-button">
                {{stateListLabel}}:
                <cdg-dropdown [values]="stateList" (change)="changeState($event)" name="States"></cdg-dropdown>
              </div>
              <div id="slider-container">
                <cdg-slider  [disabled]="!genConfig" (change)="updateCompactness($event)" name="{{compactnessSliderLabel}}"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig" (change)="updateContiguity($event)" name="{{contiguitySliderLabel}}"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig" (change)="updateEqualPopulation($event)" name="{{equalPopulationSliderLabel}}"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig" (change)="updatePartisanFairness($event)" name="{{partisanFairnessSliderLabel}}"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig" (change)="updateRacialFairness($event)" name="{{raicalFairnessSliderLabel}}"></cdg-slider>
              </div>
              <div id="generate-button">
                <cdg-button [disabled]="!genConfig" (click)="startGeneration()" name="{{generateDistrictsButtonLabel}}"></cdg-button>
              </div>
              <div id="replay-generate-button">
                <cdg-button [disabled]="!genConfig" name="{{replayGenerationButtonLabel}}"></cdg-button>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="{{informationTabLabel}}">
            <div id="information-container" class="container">
              <div id="tab-data-block">
              <br>
              <br><br>
              <br><p>Name: Wisconson</p>
              <br><p>Socioeconomic Status: </p>
              <br><p>Population: 5,795,000 </p>
              <br><p>Partisan Fairness:  </p>
              <br><p>Racial Fairness:  </p>
              <br><p>Political Communities Preservation:  </p>
              </div>
            </div>
           </nb-tab>
          <nb-tab tabTitle="{{fileTabLabel}}">
            <div id="information-container" class="container">
            <div id="file-buttons">
              <cdg-button name="Load File" class="file-button"></cdg-button>
              <cdg-button name="Save Map" class="file-button"></cdg-button>
              <cdg-button name="Export Map" class="file-button"></cdg-button>
            </div>
            </div>
          </nb-tab>
          </nb-tabset>
        </nb-card>
      </nb-sidebar>

      <nb-layout-column>
        <map 
          (clicked)="precinctSelected($event)" 
          [mapObject]="mapObject"
          [mapTypeList]="mapTypeList" 
          [savedMapList]="savedMapList"
          [savedMapListLabel]="savedMapListLabel"
          [mapTypeListLabel]="mapTypeListLabel"
          [mapColorPattern]="mapColorPattern"
          >
          </map>
      </nb-layout-column>
    </nb-layout>