    <nb-layout>
      <nb-layout-header  fixed >
        <div style="padding-top:1.5rem;padding-left:1rem;text-align:middle; width:100%;">
          <h1>CDG
            <h6>Congressional District Generator</h6>
          </h1>
        </div>
        <div id="user-container" style="padding-right:5rem; margin-top:30px;">
            <cdg-button (click)="logout()" name="Logout"></cdg-button>
        </div>
      </nb-layout-header>
      <nb-sidebar id="sidebar">
        <nb-flip-card [flipped]="algoRunning">
        <nb-card-front>
        <nb-card>
          <nb-card-body>
         <nb-tabset class="full-width">
          <nb-tab tabTitle="Generate">
            <div id="generate-tool-container">
              Compare Toggle:
              <mat-slide-toggle *ngIf="!algoRunning" (change)="compareToggle($event)"></mat-slide-toggle>
              <div *ngIf="compare" id="pick-state-button">
                Compare Map:
                <cdg-dropdown [values]="stateList" (change)="changeCompareState($event)" name="States"></cdg-dropdown>
              </div>
              <br>
              <div id="pick-state-button">
                {{stateListLabel}}:
                <cdg-dropdown [values]="stateList" (change)="changeState($event)" name="States"></cdg-dropdown>
              </div>
              <br>
              <div *ngIf="!algoRunning" id="slider-container">
                <cdg-slider  [disabled]="!genConfig || compare" (change)="updateCompactness($event)" name="{{compactnessSliderLabel}}" [slider]="!genConfig ? 50 : genConfig.getCompactnessWeight()"

                ></cdg-slider>
                <cdg-slider  [disabled]="!genConfig || compare" (change)="updateContiguity($event)" name="{{contiguitySliderLabel}}" [slider]="!genConfig ? 50 : genConfig.getContiguityWeight()"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig || compare" (change)="updateEqualPopulation($event)" name="{{equalPopulationSliderLabel}}" [slider]="!genConfig ? 50 : genConfig.getEqualPopWeight()"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig || compare" (change)="updatePartisanFairness($event)" name="{{partisanFairnessSliderLabel}}" [slider]="!genConfig ? 50 : genConfig.getPartisanFairnessWeight()"></cdg-slider>
                <cdg-slider  [disabled]="!genConfig || compare" (change)="updateRacialFairness($event)" name="{{raicalFairnessSliderLabel}}" [slider]="!genConfig ? 50 : genConfig.getRacialFairWeight()"></cdg-slider>
              </div>
              <div id="generate-button">
                <cdg-button [disabled]="!genConfig || compare || algoRunning" (click)="startGeneration()" name="{{generateDistrictsButtonLabel}}"></cdg-button>
              </div>
            </div>
          </nb-tab>
          <nb-tab tabTitle="{{informationTabLabel}}">
            <div id="information-container" class="container">
              <div id="tab-data-block">
              <br>
              <br><br>
              <br><p>Name: Wisconson</p>
              <br><p>Socioeconomic Status: </p>
              <br><p>Population: 5,795,000 </p>
              <br><p>Partisan Fairness:  </p>
              <br><p>Racial Fairness:  </p>
              <br><p>Political Communities Preservation:  </p>
              </div>
            </div>
           </nb-tab>
          <nb-tab tabTitle="{{fileTabLabel}}">
            <div id="information-container" class="container">
            <div id="file-buttons">
              <cdg-button name="Load File" class="file-button"></cdg-button>
              <cdg-button (click)="saveMap()" name="Save Map" class="file-button"></cdg-button>
              <cdg-button (click)="exportMap()"name="Export Map" class="file-button"></cdg-button>
            </div>
            </div>
          </nb-tab>
          </nb-tabset> 
        </nb-card-body>
        </nb-card>
        </nb-card-front>
          <nb-card-back>
            <nb-card><nb-card-body>
              <nb-tabset class="full-width">   
                <nb-tab tabTitle="Generation">
                <div class="map-button">
                  <cdg-button [disabled]="!algoRunning || !algoPaused" [img]="pauseImage"></cdg-button>
                </div>
                <div class="map-button">
                  <cdg-button [disabled]="!algoRunning" (click)="stopGenerationClicked()" [img]="stopImage"></cdg-button>
                </div>
                
                </nb-tab>
                <nb-tab tabTitle="Info">
                </nb-tab>
              </nb-tabset>
              </nb-card-body></nb-card>
          </nb-card-back>
          </nb-flip-card>
      </nb-sidebar>

      <nb-layout-column>
        <map 
          (clicked)="precinctSelected($event)" 
          (mapTypeChanged)="mapTypeChanged($event)"
          (savedMapChanged)="savedMapChanged"
          (mapReset)="mapReset()"
          [mapObject]="mapObject"
          [mapTypeList]="mapTypeList" 
          [savedMapList]="savedMapList"
          [savedMapListLabel]="savedMapListLabel"
          [mapTypeListLabel]="mapTypeListLabel"
          [disableMapTypeList]="!genConfig"
          [disableResetButton]="!genConfig"
          >
          </map>
      </nb-layout-column>
          <nb-layout-column *ngIf="compare">
        <map 
          (mapTypeChanged)="compareMapTypeChanged($event)"
          (savedMapChanged)="compareSavedMapChanged"
          [mapObject]="compareMapObject"
          [mapTypeList]="mapTypeList" 
          [savedMapList]="savedMapList"
          [savedMapListLabel]="savedMapListLabel"
          [mapTypeListLabel]="mapTypeListLabel"
          [disableResetButton]="true" 
          [disableMapTypeList]="compareSelectedStateId == 0"
   
          >
          </map>
      </nb-layout-column>
    </nb-layout>