// import Nebular Theme System and the default theme
@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

// and change the variables you need, or simply leave the map empty to use the default values
// let's make it blue-ish instead of the default white color
$nb-themes: nb-register-theme((

  //Sidebar Customs
  sidebar-bg:#050649,
  sidebar-width:30rem,
  card-shadow:  	#ecf2f4,
  card-header-bg:#ecf2f4,
  card-bg: 	#ecf2f4,
  btn-primary-bg:  	#27214f,
  shadow: 	#ecf2f4,
  layout-bg: #050649,
  btn-font-family: "Arialsans-serif",
  header-bg: 	 	#ecf2f4,
  header-height:6rem,
), default, default); // let's leave it as default
